// mobile media query
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// tablet media query
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

// fonts
$font_header : 'Nunito', sans-serif;
$font_body   : 'Nunito', sans-serif;

body {
  padding: 0;
  margin: 0;
  font-family: $font_body;
}

.container {
  width: 100%;
  height: auto;
}

.digit-demo-container {
  background-color: #4CAF50;
  border-radius: 5px;
  margin: 20px auto;
  width: 680px;

  h3 {
    font-size: 15px;
    background-color: #356937;
    padding: 10px;
    color: white;
    margin: 0px;
    border: 1px solid #295b2b;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  select {
    margin-top: 0px;
    height: 30px;
    font-size: 12px;
  }
}

.flex-two {
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 1;
    padding: 20px;
    text-align: center;
    @include mobile {
      padding: 5px;
    }
  }
}

.canvas-box-wrapper {
  display: block !important;

}

.material-button-pink {
  background-color: #FFD740;
  height: 30px;
  color: black;
  display: block;
  font-family: $font_body;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #a58e3a;
  font-size: 12px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); 
  margin: 0px auto;
  border-radius: 5px;
}

.material-button-pink:focus {
  outline: none;
}

.material-button-pink:hover {
  box-shadow: 0 1px 8px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.22);
}

#chart_box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  @include mobile {
    padding: 5px;
  }
}